.headings {
  max-width: 1020px;
}

/* Hero Section */

.hero h2 {
  text-align: right;
  margin-top: 0;
  padding-top: 0;
}

.firstName, .lastName {
  display: inline-block;
}

.bar {
  box-sizing: border-box;
  background-color: black;
  height: 1px;
  width: 100%;
  grid-area: line;
}

.barText {
  display: flex;
  justify-content: space-between;
  line-height: 0.25;
}

.emoji {
  margin: 1rem 0;
  padding: 0;
  text-align: right;
  font-size: 40px;
}

.h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.lastName {
  margin-left: 5rem;
}

.photos {
  display: grid;
  grid-template-areas: 
    "img1 . img2 . cta"
    "img3 img4 img2 img5 ."
    ". img4 . img5 .";
  grid-template-columns: 180px 250px 200px 300px 1fr;
  grid-template-rows: repeat(3, 150px);  
  gap: 12px;
  padding: 20px;
  position: relative;
  filter: drop-shadow(darkgray 2px 2px 0.7rem) saturate(75%);
}

@media (max-width: 1400px) {

  .emoji {
    display: none;
  }
 
 .photos {
  grid-template-areas: 
    "img1 . cta"
    "img3 img4 cta";
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) 2fr;
    grid-template-rows: repeat(2, 150px); 
    padding: 0px;
 }

 .photo:nth-of-type(6) {
  margin-left: 0px !important;
  justify-self: end;
}

}

@media (max-width: 900px) {
  .barText p {
    font-size: 12px;
  }

  .emoji {
    display: none;
  }
 
 .photos {
  grid-template-areas: 
    "img1 cta"
    "img3 cta";
    grid-template-columns: minmax(150px, 1fr) 2fr;
    grid-template-rows: repeat(2, 150px); 
    padding: 0px;
 }

 .photo:nth-of-type(6) {
  max-width: 120px !important;
  margin-left: 0px !important;
  justify-self: end;
}

}

.photo {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.photo:nth-of-type(1) {
  grid-area: img1;
}

.photo:nth-of-type(2) {
  grid-area: img2;
}

.photo:nth-of-type(3) {
  grid-area: img3;
}

.photo:nth-of-type(4) {
  grid-area: img4;
}

.photo:nth-of-type(5) {
  grid-area: img5;
}

.photo:nth-of-type(6) {
  grid-area: cta;
  max-width: 150px;
  margin-left: 150px;
}


/* Photos Section */

.photosSection {
  margin-top: 60px;
  min-height: 720px;
}

.filterSection {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.filterSection button {
  padding: 4px 0;
  margin: 6px;
  border: none;
  cursor: pointer;
  font-family: var(--font-kosugi);
  color: var(--body-font-color);
  font-size: 1rem;
  letter-spacing: -0.02em;
  min-width: 80px;
  background-color: transparent;
}

.filterSection button:hover,
.filterSection button.activeFilter {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0px;
  background-color: transparent;
}

.photoSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 900px) {
  .filterSection button {
    font-size: 12px;
  }
}

@media (max-width: 968px) {
  .photoSection {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0px;
  }
  .photosSection {
    min-height: 1400px;
  }
}

.photoItem {
  position: relative;
  width: auto;
  height: 200px;
  overflow: hidden;
  border: 2px solid #f0f0f0;
  border-radius: 2px;
}

.photoImage {
  object-fit: cover;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.seeMore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.seeMore button {
  padding: 8px 16px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  font-family: var(--font-kosugi);
}

/* Expand photo section */

.photoModal {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  background: #F0F0F0;
  filter: drop-shadow(darkgray 2px 2px 0.7rem) saturate(75%);
  z-index: 1000;
  transform: translate(-50%, -50%);
}

.selectedImageContainer {
  width: 50%; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  overflow: hidden;
}

.selectedImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(darkgray 2px 2px 0.7rem) saturate(75%);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.photoDetails {
  width: 50%; /* Adjust as needed */
  color: var(--black);
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photoTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.photoPrice {
  font-size: 1rem;
  margin: 0 0 40px 0;
}

.requestPrintLink {
  font-size: 1rem;
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 780px) {
  .photoModal { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .selectedImageContainer {
    margin: 0;
    width: 90%;
    max-width: 500px;
  }

  .photoTitle {
    font-size: 1.5rem;
  }

  .photoDetails {
    width: 90%;
    max-width: 500px;
  }
}   

@media (max-width: 380px) {

  .selectedImageContainer {
    margin: 0;
    width: 90%;
    max-width: 250px;
  }

  .photoDetails {
    width: 90%;
    max-width: 250px;
  }
}   


/* About Section */

.about {
  overflow: hidden;
  display: grid;
  grid-template-columns: 320px 220px 1fr;
  grid-template-rows: 60px 1fr;
  gap: 0;
  grid-template-areas: 
    "line line line"
    "sectionOne sectionTwo sectionThree";
}

.about .bar {
  margin: 30px 0;
}

.AboutImg {
  width: 310px;
  height: auto;
}

.tags {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}

.tags p {
  border: 1px solid var(--black);
  padding: 5px 25px;
}

.sectionOne {
  grid-area: sectionOne;
  width: fit-content;
}

.sectionTwo {
  grid-area: sectionTwo;
  justify-self: start;
}

.sectionThree {
  grid-area: sectionThree;
  justify-self: end;
  min-width: 400px;
}

.sectionThree p:first-of-type {
  text-align: right;
}

.greyBars {
  position: relative;
  display: flex;
  font-size: 100px;
  padding: 0;
  margin: 0;
  color: var(--black);
  padding-left: 30px;
}

.greyBars:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 65%;
  background-color: #E0E0E0;
}

@media (max-width: 1020px) {
  .about {
    display: flex;
   flex-direction: column;
  }
}

@media (max-width: 900px) {

  .sectionThree {
    min-width: 0px;
  }
}